<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="details content">
    <h2><%= blog.title %></h2>
    <div class="content">
      <p><%= blog.body %></p>
    </div>
    <a class="delete" data-doc="<%= blog._id %>">
      <img src="/trashcan.svg" alt="Delete">
    </a>
  </div>

  <%- include("../partials/footer.ejs") %>

  <script>
    const blogDeleteBtn = document.querySelector('a.delete');

    blogDeleteBtn.addEventListener('click', (e)=>{
        const endpoint = `/blogs/${blogDeleteBtn.dataset.doc}`;

        fetch(endpoint, {
            method: 'DELETE'
        })
        .then((response)=>{
            return response.json();
        })
        .then((data)=>{
            window.location.href = data.redirect;
        })
        .catch((err)=>{

        });
    });

  </script>
</body>
</html>